.footer {
  background-color: #161616;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  width: 100%;
}

.footer button {
  background-color: #161616;
  border: none;
  color: #f6f6f6;
  font-size: 3.5vh;
  width: 100%;
}
