html, body {
  height: 100%;
  position: relative;
}

body {
  background: #f6f6f6;
  color: #161616;
  font-family: Helvetica Neue , Helvetica , Arial , sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.swiper {
  height: 100%;
  width: 100%;
}

.swiper-slide {
  align-items: center;
  background: rgb(157, 155, 155);
  -webkit-box-align: center;
  -webkit-box-pack: center;

  /* Center slide text vertically */
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  font-size: 18px;
  justify-content: center;
  text-align: center;
}

.swiper-slide img {
  display: block;
  height: 100%;
  object-fit: cover;
  width: 75%;
}
