.bgStyles {
  background-color: rgb(240, 27, 27);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bgStyles h1 {
  color: #eee;
  margin-left: 15px;
}

.containerStyles {
  position: fixed;
  bottom: 0;
  background-color: #eee;
  height: 45vh;
  display: flex;
  border-radius: 25px 25px 0 0;
}

.formStyles {
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  height: 30vh;
  width: 105%;
  justify-content: space-around;
  padding: 5px;
  border-radius: 10px;
}
